{{! Dark social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="fa fa-twitter" href="https://twitter.com/florianbeisel"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-facebook" href="https://www.facebook.com/florian.beisel"></a>
    </li>    
	<li class="socialIcons_link">
        <a class="fa fa-flickr" href="https://www.flickr.com/beiself"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-rss" href="https://pacey.ghost.io/rss/"></a>
    </li>
</ul>